body {
    background-color: #d2ee7d;
}

.img_main {
    display: flex;
    width: 400px;
    height: 700px;
        border-radius: 50px;
}

.img_squre {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.case_img img {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

nav {
    display:flex;
    justify-content: space-between;
}


